@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using DataAccess.Repository.IRepository;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IUnitOfWork _unitOfWork;
@using Utiles;
@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JDV3BVWQ15"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-JDV3BVWQ15');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brújula Pyme</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <link href='~/plugins/listtyicons/style.css' rel='stylesheet'>
    <link href='~/plugins/menuzord/css/menuzord.css' rel='stylesheet'>



    <link href='~/plugins/selectric/selectric.css' rel='stylesheet'>
    <link href='~/plugins/fancybox/jquery.fancybox.min.css' rel='stylesheet'>
    <link href='~/plugins/owl-carousel/assets/owl.carousel.min.css' rel='stylesheet'>
    <link href='~/plugins/owl-carousel/assets/owl.theme.default.min.css' rel='stylesheet'>
    <link href='~/plugins/dzsparallaxer/dzsparallaxer.css' rel='stylesheet'>
    <!-- GOOGLE FONT --><!-- font-family: 'Mulish', sans-serif; --><!-- font-family: 'Poppins', sans-serif; -->
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <!--<link href="~/css/style.css" rel="stylesheet" id="option_style">-->
    <!-- <link rel="stylesheet" href="assets/css/default.css" id="option_color"> -->
    <!-- FAVICON -->
    <link href="~/img/favicon-16x16.png" rel="shortcut icon">



    <link href='~/plugins/rateyo/jquery.rateyo.min.css' rel='stylesheet'>
    <link href='~/plugins/map/css/map.css' rel='stylesheet'>
    <link href='~/plugins/daterangepicker/daterangepicker.css' rel='stylesheet'>

    <link href="~/plugins/fontawesome-5.15.2/css/all.css" rel="stylesheet" />
    <link href='~/plugins/fontawesome-5.15.2/css/fontawesome.min.css' rel='stylesheet'>
    <link href="~/css/color1.css" rel="stylesheet" />
    <link href="~/css/color2.css" rel="stylesheet" />
    <link href="~/css/color3.css" rel="stylesheet" />
    <link href="~/css/color4.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <link href='~/plugins/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css' rel='stylesheet'>
    <link href='~/plugins/DataTables/Responsive-2.2.2/css/responsive.dataTables.min.css' rel='stylesheet'>

    <!-- CUSTOM CSS -->
    <link href="~/css/style.css" rel="stylesheet" id="option_style">
    <link href="~/plugins/toasterNotification/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6287d012d132c10019c1f4fd&product=inline-share-buttons" async="async"></script>
</head>
<body>
    <header class="header">
        <nav class="nav-menuzord navbar-sticky">
            <div class="container clearfix">
                <div id="menuzord" class="menuzord menuzord-responsive">
                   
                    <a asp-area="Home" asp-controller="Home" asp-action="Index" class="menuzord-brand">

                        <img style="height:60px; width:160px;" src="~/img/logo/Logo_Brújula_Pyme_blanco.svg" />
                    </a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="menu-right">

                            <div class="avatar">
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" data-display="static" aria-expanded="false">
                                    @if (!string.IsNullOrEmpty(_unitOfWork.UserDetail.GetAUsersDetails(UserManager.FindByNameAsync(User.Identity.Name).Result.Id).FirstOrDefault().ProfilePicture))
                                    {
                                        <img class="avatar-img" src="@_unitOfWork.UserDetail.GetAUsersDetails(UserManager.FindByNameAsync(User.Identity.Name).Result.Id).FirstOrDefault().ProfilePicture" alt="Image">
                                    
                                    }
                                    else
                                    {
                                        <img class="avatar-img" src="/img/user/avatar-01.png" alt="Image">
                                    }

                                    <span class="avatar-name">
                                        Hola
                                        <span class="small">@User.Identity.Name.ToLower()!</span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-area="Security" asp-route-userName="@User.Identity.Name" asp-controller="Account" asp-action="GetMyProfile" class="d-flex flex-wrap align-items-center">
                                            <i class="fa fa-user mr-2" aria-hidden="true"></i>
                                            <span>Mi perfil</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="Security" asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@Url.Action("Index", "Home", new { area ="Home" })" class="d-flex flex-wrap align-items-center">
                                            <i class="fa fa-arrow-circle-right mr-2" aria-hidden="true"></i>
                                            <span>Cerrar Sesión</span>
                                        </a>
                                    </li>


                                </ul>

                            </div>
                        </div>
                    }
                    @*posterior agregar validación si ya tiene un negocio no mostrar tampoco*@
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <div class="float-right btn-wrapper">
                            <a class="btn btn-outline-primary" asp-area="Negocios" asp-controller="Negocios" asp-action="GetPlanScreen">+ <span>Agrega tu negocio</span></a>
                        </div>
                    }



                <ul class="menuzord-menu menuzord-right">


                    <li>
                        <a asp-area="Home" asp-controller="Home" asp-action="Index">Inicio</a>

                    </li>
                    @if (User.IsInRole(SP.Role_BusinesAdmin))
                    {
                        //activar cuandi hayan cursos
                        @*<li class="">
                <a href="javascript:0">Aprende</a>
                <ul class="dropdown">

                    <li>
                        <a asp-area="Home" asp-controller="Home" asp-action="GetCourses">Cursos</a>

                    </li>



                </ul>
            </li>*@

                    }


                    @if (_unitOfWork.Cuponera.GetAll(x => x.Status == true).Count() > 0)
                    {
                        @*<li>
                <a asp-area="Cuponera" asp-controller="Cuponera" asp-action="GetCuponsActive">Descuentos</a>

            </li>*@
                    }

                    @if (User.IsInRole(SP.Role_Admin))
                    {
                        <li class="">
                            <a href="javascript:0">Administración</a>
                            <ul class="dropdown">
                                <li class="">
                                    <a asp-area="Negocios" asp-controller="Negocios" asp-action="AdminBusiness">Admin. Negocios</a>
                                </li>
                                <li class="">
                                    <a asp-area="Ventas" asp-controller="CatalogoProductServiceController" asp-action="Index">Admin Catálogos Producto/Servicio</a>
                                </li>
                                <li class="">
                                    <a asp-area="Cuponera" asp-controller="Cuponera" asp-action="Index">Admin. Cupones</a>
                                </li>

                                <li class="">
                                    <a asp-area="Security" asp-controller="User" asp-action="Index">Admin. Usuarios</a>
                                </li>
                                <li class="">
                                    <a asp-area="Ventas" asp-controller="Facturacion" asp-action="Index">Facturación</a>
                                </li>
                                <li class="">
                                    <a asp-area="Catalogos" asp-controller="CatCategory" asp-action="Index">Admin Catalogos</a>
                                </li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="javascript:0">Más</a>
                            <ul class="dropdown">


                                <li class="">
                                    <a asp-area="Home" asp-controller="Home" asp-action="GetHowItWorks">¿Qué es Brújula Pyme?</a>
                                </li>
                                <li class="">
                                    <a href="https://blog.brujulapyme.com">Nuestros servicios</a>
                                </li>

                                <li class="">
                                    <a href="javascript:0">Categorías</a>
                                    <ul class="dropdown">
                                        <li class="">
                                            <a asp-area="Negocios" asp-controller="Negocios" asp-action="LookForBusinessByAllCategory">Todas</a>
                                        </li>
                                        @foreach (var item in _unitOfWork.Category.GetCatUsedByBusiness())
                                        {
                                            <li class="">
                                                <a asp-area="Negocios" asp-controller="Negocios" asp-route-categoryId="@item.Id" asp-action="LookForBusinessByCategory">@item.Nombre</a>
                                            </li>
                                        }

                                    </ul>
                                </li>
                                <li class="">
                                    <a asp-area="Home" asp-controller="Home" asp-action="ContactUs">Contáctenos</a>
                                </li>

                            </ul>
                        </li>
                    }

                    @if (User.IsInRole(SP.Role_BusinesAdmin))
                    {


                        <li class="">
                            <a href="javascript:0">Administración</a>
                            <ul class="dropdown">
                                <li class="">
                                    <a asp-area="Negocios" asp-controller="Negocios" asp-action="AdminBusiness">Mi Negocio</a>
                                </li>

                                @*<li class="">
                        <a asp-area="Cuponera" asp-controller="Cuponera" asp-action="Index">Admin. Cupones</a>
                    </li>
                    @if (_unitOfWork.UserDetail.VerifyUserIdPlan(UserManager.FindByNameAsync(User.Identity.Name).Result.Id) != 1)
                    {
                        <li class="">
                            <a asp-area="Ventas" asp-controller="CatalogoProductService" asp-action="Index">Admin Catálogos Producto/Servicio</a>
                        </li>
                    }*@

                            </ul>
                        </li>



                        <li class="">
                            <a href="javascript:0">Más</a>
                            <ul class="dropdown">


                                <li class="">
                                    <a asp-area="Home" asp-controller="Home" asp-action="GetHowItWorks">¿Qué es Brújula Pyme?</a>
                                </li>
                                <li class="">
                                    <a href="https://blog.brujulapyme.com">Nuestros servicios</a>
                                </li>

                                <li class="">
                                    <a href="javascript:0">Categorías</a>
                                    <ul class="dropdown">
                                        <li class="">
                                            <a asp-area="Negocios" asp-controller="Negocios" asp-action="LookForBusinessByAllCategory">Todas</a>
                                        </li>
                                        @foreach (var item in _unitOfWork.Category.GetCatUsedByBusiness())
                                        {
                                            <li class="">
                                                <a asp-area="Negocios" asp-controller="Negocios" asp-route-categoryId="@item.Id" asp-action="LookForBusinessByCategory">@item.Nombre</a>
                                            </li>
                                        }


                                    </ul>
                                </li>
                                <li class="">
                                    <a asp-area="Home" asp-controller="Home" asp-action="ContactUs">Contáctenos</a>
                                </li>



                            </ul>
                        </li>
                    }

                    @if (User.IsInRole(SP.Role_Customer))
                    {
                        @*<li class="">
                <a href="javascript:0">Mis Negocios Favoritos</a>
            </li>*@
                        <li class="">
                            <a href="javascript:0">Categorías</a>
                            <ul class="dropdown">
                                <li class="">
                                    <a asp-area="Negocios" asp-controller="Negocios" asp-action="LookForBusinessByAllCategory">Todas</a>
                                </li>
                                @foreach (var item in _unitOfWork.Category.GetCatUsedByBusiness())
                                {
                                    <li class="">
                                        <a asp-area="Negocios" asp-controller="Negocios" asp-route-categoryId="@item.Id" asp-action="LookForBusinessByCategory">@item.Nombre</a>
                                    </li>
                                }

                            </ul>
                        </li>


                        <li class="">
                            <a href="javascript:0">Más</a>
                            <ul class="dropdown">



                                <li class="">
                                    <a asp-area="Home" asp-controller="Home" asp-action="GetHowItWorks">¿Qué es Brújula Pyme?</a>
                                </li>
                                <li class="">
                                    <a href="https://blog.brujulapyme.com">Nuestros servicios</a>
                                </li>
                                <li class="">
                                    <a asp-area="Home" asp-controller="Home" asp-action="ContactUs">Contáctenos</a>
                                </li>

                            </ul>
                        </li>
                    }


                    <li class="">
                        <a href="javascript:0">Brujula Academy</a>
                        <ul class="dropdown">
                            <li class="">
                                <a href="http://brujulapymenic.gumroad.com/">Cursos y Herramientas digitales</a>
                            </li>


                         

                            <li class="">
                                <a href="https://blog.brujulapyme.com/blog/" target="_blank">Blog</a>
                            </li>

                        </ul>
                    </li>

                    @if (!SignInManager.IsSignedIn(User))
                    {






                        <li class="">
                            <a href="javascript:0">Más</a>
                            <ul class="dropdown">
                                <li class="">
                                    <a asp-area="Home" asp-controller="Home" asp-action="GetHowItWorks">¿Qué es Brújula Pyme?</a>
                                </li>
                                <li class="">
                                    <a href="https://blog.brujulapyme.com">Nuestros servicios</a>
                                </li>
                                <li class="">
                                    <a href="javascript:0">Categorías</a>
                                    <ul class="dropdown">
                                        <li class="">
                                            <a asp-area="Negocios" asp-controller="Negocios" asp-action="LookForBusinessByAllCategory">Todas</a>
                                        </li>
                                        @foreach (var item in _unitOfWork.Category.GetCatUsedByBusiness())
                                        {
                                            <li class="">
                                                <a asp-area="Negocios" asp-controller="Negocios" asp-route-categoryId="@item.Id" asp-action="LookForBusinessByCategory">@item.Nombre</a>
                                            </li>
                                        }

                                    </ul>
                                </li>

                                <li class="">
                                    <a asp-area="Home" asp-controller="Home" asp-action="ContactUs">Contáctenos</a>
                                </li>



                            </ul>
                        </li>


                    }



                    @if (!SignInManager.IsSignedIn(User))
                    {

                        <li class="">
                            <a asp-area="Identity" asp-page="/Account/Login">Iniciar Sesión</a>

                        </li>
                    }



                </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="main-wrapper">
        @*<main role="main" class="pb-3">*@
        @RenderBody()
        @*</main>*@
    </div>

    <footer class="footer-dark">

        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-xs-12">
                    @*<a class="d-inline-block mb-6" href="index.html">
                        <svg class="logo-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" width="140" height="44">
                            <path class="fill-primay" d="M0 44V0h139.813v44H0zM137.346 2.467H2.467v39.065h134.879V2.467z"></path>
                            <path class="fill-primay" d="M120.927 22.389v11.095h-4.566V22.389a371.288 371.288 0 0 0-2.086-2.888 347.047 347.047 0 0 1-2.2-3.053 386.86 386.86 0 0 0-2.201-3.053c-.7-.959-1.395-1.922-2.086-2.888h5.617l5.255 7.287 5.222-7.287h5.649c.002 0-8.604 11.882-8.604 11.882zM98.034 33.484h-4.565V15.069h-6.372v-4.562h17.244v4.562h-6.306v18.415zm-21.908 0H71.56V15.069h-6.372v-4.562h17.244v4.562h-6.306v18.415zm-17.425-1.789c-.69.623-1.511 1.116-2.463 1.477-.953.361-1.987.542-3.104.542-1.007 0-1.982-.143-2.923-.427a10.814 10.814 0 0 1-2.661-1.214h.033a9.928 9.928 0 0 1-1.577-1.215 18.73 18.73 0 0 1-.953-.952l3.416-3.151c.153.197.399.432.739.706.339.274.728.537 1.166.788.44.253.902.467 1.38.64.481.175.941.262 1.379.262.372 0 .744-.044 1.117-.131.359-.082.703-.22 1.018-.41.305-.185.564-.437.755-.739.197-.306.296-.689.296-1.149 0-.175-.06-.366-.181-.574-.12-.208-.329-.432-.624-.673-.296-.241-.706-.498-1.232-.771a20.567 20.567 0 0 0-1.971-.87 25.42 25.42 0 0 1-2.562-1.132 8.896 8.896 0 0 1-2.053-1.428 5.903 5.903 0 0 1-1.347-1.871c-.317-.7-.476-1.51-.476-2.429 0-.94.175-1.822.526-2.642a6.21 6.21 0 0 1 1.494-2.133c.646-.602 1.423-1.072 2.332-1.412.908-.339 1.911-.509 3.006-.509.591 0 1.22.077 1.889.23.668.153 1.319.35 1.954.591a12.95 12.95 0 0 1 1.79.837c.558.317 1.023.64 1.396.968l-2.825 3.545a15.71 15.71 0 0 0-1.281-.788 10.316 10.316 0 0 0-1.281-.558 4.311 4.311 0 0 0-1.478-.263c-.919 0-1.637.181-2.151.542-.515.361-.772.881-.772 1.559 0 .307.093.586.279.837.186.252.438.482.756.689.348.225.717.417 1.1.574.416.176.854.34 1.314.492 1.314.504 2.42 1.013 3.318 1.526.898.514 1.62 1.062 2.168 1.642s.936 1.204 1.166 1.871c.23.668.345 1.395.345 2.183 0 .963-.197 1.871-.591 2.724a6.803 6.803 0 0 1-1.626 2.216zM34.839 10.507h4.532v22.977h-4.532V10.507zm-20.036 0h4.566v18.415h9.263v4.563H14.803V10.507z"></path>
                        </svg>
                    </a>*@
                    <p class="text-white pt-1 pb-3">
                        Brújula Pyme es un directorio digital online que tiene como objetivo darte un espacio en internet a
                        través de nuestras fichas digitales para que llegues a más clientes, por otro lado brindamos a los emprendedores cursos y herramientas digitales
                        para que se capaciten y logren empoderar su negocio con nuevas habilidades.
                        También deseamos ayudar a nuestros usuarios a contactar y conocer negocios locales.
                    </p>
                    <ul class="list-unstyled text-white">
                        <li class="mb-3">
                            <i class="fas fa-phone-alt me-3" aria-hidden="true"></i>
                            <a class="text-white" href="tel:58634478">58634478</a>
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-envelope me-3" aria-hidden="true"></i>
                            <a class="text-white" href="mailto:info@brujulapyme.com">info@brujulapyme.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-3 col-xs-12">
                    <div class="mb-4 mt-4 mt-md-0">
                        <h2 class="h4 text-white">Links</h2>
                    </div>
                    <ul class="list-unstyled list-gray">
                        <li class="mb-3">
                            <a asp-area="Home" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        @*<li class="mb-3">
            <a href="sign-up.html">Crear cuenta</a>
        </li>*@
                        <li class="mb-3">
                            <a asp-area="Identity" asp-page="/Account/Login">Iniciar sesión</a>
                        </li>
                        <li class="mb-3">
                            <a asp-area="Negocios" asp-controller="Negocios" asp-action="AgregarNegocio">Agregar negocio gratis</a>
                        </li>
                        <li class="mb-3">
                            <a href="https://blog.brujulapyme.com">Nuestros Servicios</a>
                        </li>
                        <li class="mb-3">
                            <a href="http://brujulapymenic.gumroad.com/">Cursos y herramientas digitales</a>
                        </li>
                        <li class="mb-3">
                            <a href="https://blog.brujulapyme.com/blog/" target="_blank">Blog</a>
                        </li>

                        @*<li>
            <a asp-area="Home" asp-controller="Home" asp-action="GetCourses">Cursos</a>

        </li>*@
                    </ul>
                </div>

                <div class="col-sm-2 col-xs-12">
                    <div class="mb-4 mt-4 mt-md-0">
                        <h2 class="h4 text-white">Compañia</h2>
                    </div>
                    <ul class="list-unstyled list-gray">
                        <li class="mb-3">
                            <a asp-area="Home" asp-controller="Home" asp-action="ContactUs">Contáctenos</a>
                        </li>

                        <li class="mb-3">
                            <a asp-area="Home" asp-controller="Home" asp-action="GetHowItWorks">¿Qué es Brújula Pyme?</a>
                        </li>
                        <li class="mb-3">
                            <a asp-area="Home" asp-controller="Home" asp-action="GetWhoWeAre">Sobre Nosotros</a>
                        </li>
                        <li class="mb-3">
                            <a asp-area="Home" asp-controller="Home" asp-action="GetTermsAndConditions">Términos y condiciones de uso</a>
                        </li>
                        @*<li class="mb-3">
            <a href="pricing-table.html">Precios planes</a>
        </li>*@
                    </ul>
                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-sm-7 col-xs-12 align-self-center order-3 order-md-0">
                    <p class="copy-right mb-0 pb-4 pb-md-0  text-md-start">
                        Copyright © <span id="copy-year"></span>. Todos los derechos reservados

                    </p>
                    <p>Hecho con cariño &hearts; por <a target="_blank" href="https://www.linkedin.com/in/davidevanks/">KG</a> </p>
                   
                </div>

                <div class="col-sm-5 col-xs-12 d-flex align-items-center">
                    <div class="ms-md-auto mx-auto mx-md-0 mt-3 mb-5 my-md-0">
                        <a target="_blank" class="icon-sm icon-default icon-border hover-bg-primary rounded-circle ms-0" href="https://www.instagram.com/brujulapymenic/">
                            <i class="fab fa-instagram-square" aria-hidden="true"></i>
                        </a>
                     
                    </div>
                </div>
            </div>

        </div>

    </footer>


    <!-- JAVASCRIPTS -->
    <script src='~/plugins/jquery/jquery-3.4.1.min.js'></script>
    <script src='~/plugins/bootstrap/js/bootstrap.bundle.js'></script>

    <script src="~/plugins/menuzord/js/menuzord.js"></script>

    <script src="~/js/backend.js"></script>
    <script src='~/plugins/selectric/jquery.selectric.min.js'></script>
    <script src='~/plugins/dzsparallaxer/dzsparallaxer.js'></script>
    <script src='~/plugins/owl-carousel/owl.carousel.min.js'></script>
    <script src='~/plugins/rateyo/jquery.rateyo.min.js'></script>





    <script src='~/plugins/smoothscroll/SmoothScroll.js'></script>
    <script src='~/plugins/lazyestload/lazyestload.js'></script>






    @*<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD-Se2RqbUwbhKkVYpUqkAtdiH3yOvE25g'></script>*@
    <script src='~/plugins/map/js/markerclusterer.js'></script>
    @*<script src='~/plugins/map/js/rich-marker.js'></script>*@
    @*<script src='~/plugins/map/js/infobox_packed.js'></script>*@
    <script src='~/js/map.js'></script>

    <script src="~/js/Regexp.min.js"></script>
    <script src="~/js/format.min.js"></script>
    <script src="~/js/alerts.min.js"></script>
    <script src="~/js/form.min.js"></script>
    <script>
        var d = new Date();
        var year = d.getFullYear();
        document.getElementById("copy-year").innerHTML = year;
    </script>
    <script src='~/js/listty.js'></script>



    <script src='~/plugins/fancybox/jquery.fancybox.min.js'></script>
    <script src='~/plugins/daterangepicker/moment.min.js'></script>
    <script src='~/plugins/daterangepicker/daterangepicker.js'></script>


    <script src='~/plugins/smoothscroll/SmoothScroll.js'></script>
    <script src='~/plugins/lazyestload/lazyestload.js'></script>

    <script src='~/plugins/rateyo/jquery.rateyo.min.js'></script>

    <script src="~/lib/jqueryui/jquery-ui.js"></script>


    <script src='~/plugins/velocity/velocity.min.js'></script>
    <!-- CUSTOM JS -->
    <script src="~/plugins/sweetAlert/sweetalert.min.js"></script>
    <script src="~/plugins/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script src="~/plugins/toasterNotification/toastr.min.js"></script>


    @RenderSection("Scripts", required: false)


</body>
</html>
